:root {
    --orange: #FE6613;
    --blue: #1B2653;
}

header {
    width: 100%;
    height: 50px;
    top: 0;
    background-color: var(--blue);
    color: white;
    font-size: 0.7rem;
    padding: 0 20px;
    z-index: 1;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#btn {
    background-color: var(--blue);
    color: white;
    border: 2px solid white;
    border-radius: 20px;
    font-size: 0.7rem;
    padding: 7px;
    margin-left: 40px;
    cursor: pointer;
}

#btn:hover {
    background-color: rgb(2, 44, 136);
}

#navLeft {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#navLeft img {
    width: 90px;
    margin-right: 40px;
}

#navRight {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 50px;
}

ul {
    display: flex;
    flex-direction: row;
}

ul li {
    display: flex;
    align-items: center;
    margin: 0 7px;
    cursor: pointer;
    transition: ease 1s;
}

ul li:hover {
    color: rgb(176, 197, 255);
    transition: ease 0.5s;
}

/* Hamburger Menu */
#menuToggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 40px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
}

#mobileMenu {
    display: none;
    background-color: var(--blue);
    position: absolute;
    top: 50px;
    left: 0;
    padding-bottom: 10px;
    width: 100%;
    z-index: 99;
}

#mobileMenu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    padding-right: 30px;
    margin: 0;
}

#mobileMenu ul li {
    padding: 10px;
    text-align: center;
}

/* Aparecer em telas de até 900px */
@media only screen and (max-width: 900px){
    #menuToggle {
        display: flex;
        padding-right: 80px;
    }

    #navLeft ul, #navRight ul {
        display: none;
    }
}